table {
  
    margin: 0 auto
}
td{
    background-color: #94CC8E ;
    width: 20px;
    height: 20px;
    box-shadow: 1px 1px
}

.cabeca{
    background-color: red !important;
}

.corpo{
background-color: grey;
}
.rabo{
background-color: blue;
}
.comida
{   
background-color: #FFD700;
}

